AMZN_email=your_amazon_email@example.com
AMZN_pass=your_amazon_password
CHROME_USER_DATA_DIR=C:/ChromeAutomationProfile

ALERT_EMAIL=alerts@example.com
SENDER_EMAIL=sender@example.com
TO_EMAIL=recipient@example.com
CC_EMAIL=cc_recipient@example.com

DB_TABLE_NEGATIVE=FedManNegative
DB_TABLE_POSITIVE=FedManPositive
