{
    "download_path": "downloaded_files",
    "feedback_man_path": "C:/path/to/your/onedrive/Amazon/Reports/Feedback-Manager.xlsm",
    "all_items_path": "C:/path/to/your/onedrive/Amazon/Reports/All Items.xlsm"
}
